<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Les-imports-et-initialisations-des-variables" data-toc-modified-id="Les-imports-et-initialisations-des-variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Les imports et initialisations des variables</a></span><ul class="toc-item"><li><span><a href="#Fonctions-utilitaires" data-toc-modified-id="Fonctions-utilitaires-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Fonctions utilitaires</a></span></li></ul></li><li><span><a href="#Les-fichiers-de-données" data-toc-modified-id="Les-fichiers-de-données-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Les fichiers de données</a></span></li><li><span><a href="#orders_dataset" data-toc-modified-id="orders_dataset-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>orders_dataset</a></span></li><li><span><a href="#order_items_dataset" data-toc-modified-id="order_items_dataset-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>order_items_dataset</a></span></li><li><span><a href="#olist_order_payments_dataset" data-toc-modified-id="olist_order_payments_dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>olist_order_payments_dataset</a></span></li><li><span><a href="#olist_order_reviews_dataset" data-toc-modified-id="olist_order_reviews_dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>olist_order_reviews_dataset</a></span></li><li><span><a href="#olist_customers_dataset" data-toc-modified-id="olist_customers_dataset-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>olist_customers_dataset</a></span></li><li><span><a href="#olist_sellers_dataset" data-toc-modified-id="olist_sellers_dataset-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>olist_sellers_dataset</a></span></li><li><span><a href="#olist_geolocation_dataset" data-toc-modified-id="olist_geolocation_dataset-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>olist_geolocation_dataset</a></span></li><li><span><a href="#Les-données-des-produits" data-toc-modified-id="Les-données-des-produits-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Les données des produits</a></span></li></ul></div>

<img src="https://raw.githubusercontent.com/rbizoi/PythonFormationCESI/main/images/e-brasil.png" width="850">

# Les imports et initialisations des variables

In [1]:
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

In [2]:
def nettoyer(valeur):
    nk = unicodedata.normalize('NFKD', valeur.lower())
    valeur = str(nk.encode('ASCII', 'ignore').decode('ASCII'))
    return re.compile('[^\w ]').sub('', valeur).strip().replace('  ',' ')

# Les fichiers de données 
>> La liste des fichiers de donnée du projet

In [3]:
dirname='../donnees/ecommerce'
fichiers = {}
for filename in os.listdir(dirname):
    print(os.path.join(dirname, filename))
    fichiers[filename] = pd.read_parquet(os.path.join(dirname, filename))

../donnees/ecommerce/order_items
../donnees/ecommerce/sellers
../donnees/ecommerce/order_payments
../donnees/ecommerce/order_reviews
../donnees/ecommerce/geolocation
../donnees/ecommerce/customers
../donnees/ecommerce/products
../donnees/ecommerce/orders

# orders_dataset

In [4]:
donnees = fichiers['orders']

In [5]:
donnees.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

# order_items_dataset

In [6]:
donnees = fichiers['order_items']

In [7]:
donnees.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

# olist_order_payments_dataset

In [8]:
donnees = fichiers['order_payments']

In [9]:
donnees.head()

,order_id,installments_boleto,installments_credit_card,installments_debit_card,installments_voucher,value_boleto,value_credit_card,value_debit_card,value_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0,2,0,0,0.0,72.19,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0,3,0,0,0.0,259.83,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0,5,0,0,0.0,216.87,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0,2,0,0,0.0,25.78,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0,3,0,0,0.0,218.04,0.0,0.0

# olist_order_reviews_dataset

In [10]:
donnees = fichiers['order_reviews']

In [11]:
donnees.head()

,order_id,review_1,review_2,review_3,review_4,review_5,answer1,answer2,answer3,answer4,...,comment_message1,comment_message2,comment_message3,comment_message4,comment_message5,creation1,creation2,creation3,creation4,creation5
0,00010242fe8c5a6d1ba2dd792cb16214,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,7.0
1,00018f77f2f0320c557190d7a144bdd3,0,0,0,1,0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,16.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,8.0
3,00024acbcdf0a6daa1e931b038114c75,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0,0.0,25.0

# olist_customers_dataset

In [12]:
donnees = fichiers['customers']

In [13]:
donnees.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

# olist_sellers_dataset

In [14]:
donnees = fichiers['sellers']

In [15]:
donnees.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

# olist_geolocation_dataset

In [16]:
donnees = fichiers['geolocation']

In [17]:
donnees.head()

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,nom_etat,lat_min,lat_max,lat_mean,lng_min,lng_max,lng_mean
0,1001,Sao Paulo,SP,São Paulo,-23.551427,-23.549292,-23.550190,-46.634410,-46.633559,-46.634024
1,1002,Sao Paulo,SP,São Paulo,-23.548878,-23.544641,-23.548146,-46.636361,-46.633180,-46.634979
2,1003,Sao Paulo,SP,São Paulo,-23.549083,-23.548901,-23.548994,-46.637157,-46.634862,-46.635731
3,1004,Sao Paulo,SP,São Paulo,-23.550765,-23.549181,-23.549799,-46.635371,-46.634057,-46.634757
4,1005,Sao Paulo,SP,São Paulo,-23.549980,-23.548758,-23.549456,-46.638411,-46.634768,-46.636733

# olist_products_dataset

``olist_products_dataset.csv`` <br>
``product_category_name_translation.csv``

In [18]:
donnees = fichiers['products']

In [19]:
donnees.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares